<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<title>web在线聊天室</title>
		<link href="/static/css/bootstrap.css" rel="stylesheet">
		<style type="text/css"></style>
		<link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
		<script src="/static/js/jquery-2.1.1.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
		<link href="/static/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.css" rel="stylesheet">
		<link href="/static/css/signin.css" rel="stylesheet">
		<link href="/static/css/navbar-fixed-top.css" rel="stylesheet">
        <link href="/static/css/customize.css" rel="stylesheet">
		<script src="/static/jquery-ui/js/jquery-ui-1.10.4.js"></script>
		<!-- 标准写法，在head部写个模板 -->
     	{% block css %}
     	{% endblock %}
	</head>
	
	<body>
	    <div class="navbar navbar-inverse navbar-fixed-top register">
	      <div class="navbar-inner">
	        <div class="container">
	          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="brand" href="#">web在线聊天室</a>
	          <div class="nav-collapse collapse">
	            <ul class="nav">
	              <li class="active"><a href="#">Home</a></li>
	              <li><a href="#about">About</a></li>
	              <li><a href="#contact">Contact</a></li>
	              
	              <!-- 模板语言，使用django自带的user.is_authenticated来判断用户是否已经登录 -->
	              <!-- 如果已经登录，则显示个人中心以及退出两个按钮 -->
	              {% if user.is_authenticated %}
	              	<li><a class="dropdown-toggle" href='/user/'>个人中心</a></li>
	              	<li><a class="dropdown-toggle" href='/logout/'>退出</a></li>
	              {% else %}
	              <!-- 如果没有登录，则显示登录和免费注册两个按钮 -->
	              	<li><a class="dropdown-toggle" href='/login/'>登录</a></li>
	              	<li><a class="dropdown-toggle" href='/regist/'>免费注册</a></li>
	              {% endif %}
	            </ul>
			      
	          </div><!--/.nav-collapse -->
	        </div>
	      </div>
	    </div>
	      
	     <div id='page-content' class="container">
	     	<!-- 标准写法，在body部写个模板 -->
	     	{% block page-content %}
	     	{% endblock %}  	
	     </div> 

	    <script src="/static/js/jquery.js"></script>
	    <script src="/static/js/bootstrap-transition.js"></script>
	    <script src="/static/js/bootstrap-alert.js"></script>
	    <script src="/static/js/bootstrap-modal.js"></script>
	    <script src="/static/js/bootstrap-dropdown.js"></script>
	    <script src="/static/js/bootstrap-scrollspy.js"></script>
	    <script src="/static/js/bootstrap-tab.js"></script>
	    <script src="/static/js/bootstrap-tooltip.js"></script>
	    <script src="/static/js/bootstrap-popover.js"></script>
	    <script src="/static/js/bootstrap-button.js"></script>
	    <script src="/static/js/bootstrap-collapse.js"></script>
	    <script src="/static/js/bootstrap-carousel.js"></script>
	    <script src="/static/js/bootstrap-typeahead.js"></script>
	    
	    <!-- 标准写法，在底部写个模板 -->
	 	{% block js %}
	 	{% endblock %} 
	
	</body>
	
</html>
