.center-container-hx,.footer {
    box-shadow: 2px 0 5px rgba(214, 214, 215, 0.9), -2px 0 5px rgba(214, 214, 215, 0.9);
}

.contents {margin-top:20px;}

* {word-wrap:break-word;}

.comments{
    width:70%

}
